[Desktop Entry]
Name=Matchama-Dark
X-KDE-PluginInfo-Author=cscs
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=cscs@disroot.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Matchama-Dark
X-KDE-PluginInfo-Version=1.0
