[Desktop Entry]
Name=Matcha
X-KDE-PluginInfo-Name=Matcha
X-KDE-PluginInfo-Author=Oliver Buettner & Alexey Varfolomeev
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
